{% block subject %}
    Test message
{% endblock %}

{% block body %}
    <p>
        Name: Tester<br>
        Phone number: Test Number
    </p>
    <p>
    This is a message!!!
    </p>
{% endblock %}
